@import url(../fonts/neue.css);
@import url(../fonts/ttoctosquares.css);

header {
    min-height: 70px;
}

.title-banner {
    min-height: 827px;
    background-image: url(../img/title-banner-img.png);
    width: 100%;
    background-position: center;
    background-size: cover;
}

.banner {
    min-height: 779px;
    padding-top: 211px;
}

.search-room {
    min-height: 345px;
    background-image: url(../img/search-room-bg-img.png);
    width: 100%;
    background-position: center;
}

.actual-offers {
    min-height: 1621px;
}

.rent-out-room {
    min-height: 569px;
    background-image: url(../img/rent-out-room-bg-img.png);
    width: 100%;
    background-position: center;
}

.about-company {
    min-height: 839px;
    padding: 47px 0 2px 73px;
}

.advantages {
    min-height: 1120px;
    background-image: url(../img/advantages-bg-img.png);
    width: 100%;
    background-position: center;
}

.question-banner {
    min-height: 684px;
    width: 100%;
    background-image: url(../img/questions-img.png);
    margin-top: 160px;
    background-position: center;
}

.questions {
    min-height: 684px;
}

footer {
    min-height: 460px;
    background-color: #293561;
}

.navigation {
    display: flex;
    justify-content: end;
    margin-right: 34px;
    padding-top: 20px;
}

.nav-item {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    padding: 0 5px;
}

.nav-item a {
    text-decoration: none;
    color: #010d01;
    cursor: pointer;
}

.nav-item a:hover {
    color: #293561;
    text-shadow: 1px 1px 2px grey;
    font-weight: 500;
}

.banner-gradient {
    width: 1055px;
    height: 322px;
    background: linear-gradient(95.32deg, rgba(255, 255, 255, 0.04) 5.89%, rgba(255, 255, 255, 0.888998) 52.33%, rgba(255, 255, 255, 0.633434) 76.94%, rgba(255, 255, 255, 0) 103.34%);
    margin: 281px 0px 0 -153px;
}

.banner-gradient-header {
    width: 943px;
    height: 154.12px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 600;
    font-size: 55.2542px;
    line-height: 110%;
    text-transform: uppercase;
    color: #010d01;
    opacity: 0.93;
    padding-top: 52px;
    padding-left: 200px;
}

.banner-gradient-content {
    width: 943px;
    height: 52px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    color: #010d01;
    opacity: 0.93;
    padding-top: 50px;
    padding-left: 200px;
}

.about-site {
    text-align: center;
    position: relative;
    z-index: 2;
    top: 84px;
    right: 9px;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.wrap-search {
    display: flex;
    justify-content: left;
}

.banner-left-item {
    margin-left: 50px;
}

.title-black {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    text-transform: uppercase;
    color: #000000;
}

.banner-left-item img {
    margin-top: 50px;
}

.banner-right-item {
    margin: 7px -2px 0 0;
}

.banner-right-item-title {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 110%;
    text-transform: uppercase;
    color: #010d01;
}

.banner-right-item-content {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #010d01;
    opacity: 0.8;
    margin: 61px 50px 63px 3px;
}

.colortext-blue {
    color: #26325f;
}

.btn-success {
    width: 280px;
    height: 60px;
    background-color: #16ff00;
    color: #000000;
    border-radius: 10px;
    border: none;
    margin-left: 43px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    color: #000000;
}

.btn-success-banner {
    width: 280px;
    height: 60px;
    margin-left: 43px;
}

.btn-success-banner a {
    color: #000000;
}

.btn-success-banner a:hover {
    color: #ffffff;
}

.search-room-content {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 47.2381px;
    line-height: 110%;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.93;
    margin: 85px 0 0 48px;
}

.actual-offers-item {
    text-align: center;
    margin-top: 90px;
}

.actual-offers-button {
    margin: 27px 0 10px 0;
}

.actual-offers-button a {
    color: #000000;
}

.actual-offers-button a:hover {
    color: white;
}

.call-help-block {
    margin-bottom: -40px;
}

.call-help {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #010d01;
}

.call-help:hover {
    font-weight: 500;
    color: #26325f;
    text-decoration: none;
}

.rent-your-room-title {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    color: #26325f;
    margin: 91px 0 29px 37px;
}

.article-content {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    padding: 22px 35px 0 39px;
}

.article-content-bottom {
    font-size: 14px;
    padding-top: 25px;
}

.rent-form {
    margin: 10px;
}

.personal-form-input-rent {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    height: 38px;
    margin-top: 16px;
    border-radius: 0;
    border: 1px solid black;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 8.18182px;
    line-height: 120%;
    color: #000000;
}

.search-form-block {
    margin-top: 68px;
    margin-left: 64px;
}

.personal-form-input-rent-top {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    height: 38px;
    margin-top: 16px;
    border-radius: 0;
    border: 1px solid white;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 8.18182px;
    line-height: 120%;
    color: white;
}

.personal-form-input-rent-top::placeholder {
    color: #ffffff;
}

.personal-form-input-rent-top:focus {
    background-color: transparent;
    color: #ffffff;
}

#confirmPersonal-rent {
    border: 1px solid black;
    border-radius: 0;
}

#rent-personal-form-top {
    margin-bottom: 8px;
}

#confirmPersonal-rent-top {
    border: 1px solid white;
    border-radius: 0;
    width: 1rem;
    height: 1rem;
    margin-left: -2.2em;
}

#rent-personal-form {
    padding-left: 24px;
    width: 100%;
    margin-bottom: 20px;
}

.btn-rent {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 0px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 110%;
    text-transform: uppercase;
    color: #000000;
    height: 40px;
}

.checkbox-text-black {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 8.18182px;
    line-height: 120%;
    color: #000000;
    padding-left: 6px;
    padding-top: 5px;
}

.row {
    margin: 0;
}

.infographics {
    padding: 30px 0 87px 0;
}

.info-upper-font {
    font-family: "TT Octosquares";
    font-style: normal;
    font-weight: 600;
    font-size: 63px;
    line-height: 77px;
    color: #000000;
    margin-bottom: 0;
    padding-left: 6px;
}

.info-lower-font {
    font-family: "TT Octosquares";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0px 0 8px 53px;
}

.about-company-block {
    padding-left: 40px;
}

.about-company-title {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    text-transform: uppercase;
    color: #000000;
    margin: 3px 0 11px 37px;
}

.info-align-end {
    display: flex;
    align-items: flex-end;
}

.info-align-end img {
    margin-left: 17px;
}

.container-advantages {
    width: 75.5%;
    margin: 0 auto;
}

.advantages-title {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 86px 0 43px -30px;
}

.advantages-item {
    display: flex;
    margin-bottom: 85px;
}

.advantages-item-title {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 600;
    font-size: 26.5959px;
    line-height: 135%;
    text-transform: uppercase;
    color: #ffffff;
}

.advantages-item-content {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 23.6408px;
    line-height: 120%;
    color: #ffffff;
    opacity: 0.8;
}

.advantages-item-tag {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 23.6408px;
    line-height: 135%;
    color: #ffffff;
}

.advantages-item-tag img {
    padding-right: 20px;
}

.advantage-article {
    padding-top: 40px;
}

.advantages-button-group {
    display: flex;
    justify-content: center;
    margin: 2px 0 0 -38px;
}

.btn-advantages {
    width: 324px;
    margin-bottom: 40px;
    margin-left: 16px;
}

.btn-adv {
    width: 271px;
    margin-bottom: 40px;
    margin-left: 43px;
}

.btn-adv a {
    color: #000000;
}

.btn-adv a:hover {
    color: white;
}

.btn-dvantages-call-help {
    background-color: transparent;
    border: 1px solid #16ff00;
    color: #ffffff;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #ffffff;
}

.btn-dvantages-call-help a {
    text-decoration: none;
    color: #ffffff;
}

.btn-dvantages-call-help a:hover {
    color: white;
}

.social {
    display: flex;
    justify-content: start;
    padding: 209px 0 0 50px;
}

.soc-item {
    font-family: "TT Firs Neue";
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    margin-right: 28px;
}

.soc-item a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.soc-item a:hover {
    color: white;
    font-weight: 500;
    text-decoration: underline;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #16ff00;
    opacity: 70%;
    border-radius: 30px;
    border: none;
}

.question-title {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    text-transform: uppercase;
    color: #010d01;
}

.question-footer {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #010d01;
    opacity: 0.8;
}

.question-footer {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    text-transform: uppercase;
    color: #16ff00;
}

.colortext-green {
    color: #16ff00;
}

.personal-help-form {
    width: 24rem;
    min-height: 31rem;
    background: linear-gradient(180deg, #273460 0%, rgba(39, 52, 96, 0.56) 100%);
    box-shadow: 0px 0px 50px rgb(0 0 0 / 10%);
    border-radius: 8px;
    margin: 58px 0 0 48px;
}

.personal-help-form-title {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 40px 0 9px 0;
}

.personal-help-form-content {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 25px;
}

.checkbox-text {
    font-family: "TT Firs Neue";
    font-size: 10px;
    line-height: 160%;
    color: #ffffff;
    vertical-align: middle;
    padding-left: 10px;
}

.checkbox-text-rent {
    font-family: "TT Firs Neue";
    font-size: 8px;
    line-height: 160%;
    color: #ffffff;
    vertical-align: middle;
    padding-left: 0;
}

.question-left-section,
.question-right-section {
    margin-top: 153px;
}

.question-block {
    padding: 0 36px;
}

.accordion-button {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    text-transform: uppercase;
    color: #010d01;
}

.accordion-body {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #010d01;
    opacity: 0.8;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: #16ff00;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/arrow-after.png);
    transform: none;
}

.accordion-button::after {
    background-image: url(../img/arrow-before.png);
}

.accordion-button:focus {
    box-shadow: none;
}

.title-banner-form {
    width: 300px;
    height: 322px;
    background: linear-gradient(195.32deg, rgba(255, 255, 255, 0.84) 5.89%, rgba(255, 255, 255, 0.888998) 52.33%, rgba(255, 255, 255, 0.633434) 76.94%, rgba(255, 255, 255, 0) 103.34%);
    border-radius: 0px;
    margin-top: 281px;
}

.wrap-input-field-2 div div div div div div input {
    width: 100%;
    height: 3rem;
    border-radius: 7px;
    border: 1px solid white;
    background-color: transparent;
    color: #ffffff;
    font-family: "TT Firs Neue";
}

.personal-help-form-content div form {
    padding: 0 10px;
}

.qform-field__block_box__field-box_input::placeholder {
    color: #ffffff;
    padding-left: 10px;
    font-family: "TT Firs Neue";
}

.qform-field__block_box__field-box_input:focus {
    padding-left: 10px;
}

.qform-field-outside-label-box {
    margin-left: 15px;
    color: #ffffff;
    font-family: "TT Firs Neue";
}

.personal-help-form div form .qform-row div div .qform-field__submit_agree-box {
    color: white;
    font-family: "TT Firs Neue";
    font-size: 10px;
    line-height: 160%;
    margin-left: 15px;
    margin-top: 30px;
    padding-left: 15px;
}

.submit-button-help-2 {
    width: 20rem;
    height: 3.5rem;
    background: #16ff00;
    border-radius: 8px;
    font-family: "TT Firs Neue";
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 30px;
}

.wrap-input-field-1 div div div div div div input {
    width: 100%;
    height: 2rem;
    border-radius: 0;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    font-family: "TT Firs Neue";
}

.wrap-input-field-1 div div div div div div input::placeholder {
    color: black;
    padding-left: 10px;
    font-family: "TT Firs Neue";
    font-size: 10px;
}

.wrap-input-field-1 div div div div div div input:focus {
    padding-left: 10px;
    font-size: 10px;
}

.wrap-input-field-1 div div div label {
    display: none;
}

.wrap-input-field-2 div div div label {
    display: none;
}

.rent-form div form .qform-row div div .qform-field__submit_agree-box {
    color: black;
    font-family: "TT Firs Neue";
    font-size: 10px;
    line-height: 100%;
    padding: -15px 0 0 -15px;
    margin-bottom: 5px;
    margin-top: 0;
}

.submit-button-help-1 {
    width: 12rem;
    height: 2rem;
    background: #16ff00;
    border-radius: 5px;
    font-family: "TT Firs Neue";
    font-size: 10px;
    line-height: 125%;
    text-transform: uppercase;
    color: #000000;
    font-style: normal;
    font-weight: 600;
}

.accept-agree,
.notaccept-agree {
    text-decoration: none;
}

.wrap-input-field-room-2 div div div div div div input {
    width: 100%;
    height: 2rem;
    border-radius: 0;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-family: "TT Firs Neue";
}

.wrap-input-field-room-2 div div div div div div input::placeholder {
    color: white;
    padding-left: 10px;
    font-family: "TT Firs Neue";
    font-size: 10px;
}

.wrap-input-field-room-2 div div div div div div input:focus {
    padding-left: 10px;
    font-size: 10px;
}

.wrap-input-field-room-2 div div div label {
    display: none;
}

.wrap-input-field-room-2 div div div label {
    display: none;
}

.search-form-block div form .qform-row div div .qform-field__submit_agree-box {
    color: white;
    font-family: "TT Firs Neue";
    font-size: 10px;
    line-height: 100%;
    padding: -15px 0 0 -15px;
    margin-bottom: 5px;
    margin-top: 0;
}

.submit-button-room-2 {
    width: 13.5rem;
    height: 2rem;
    background: #16ff00;
    border-radius: 5px;
    font-family: "TT Firs Neue";
    font-size: 10px;
    line-height: 125%;
    text-transform: uppercase;
    color: #000000;
    font-style: normal;
    font-weight: 600;
}

.submit-button-help-1,
.submit-button-help-2,
.submit-button-room-1,
.submit-button-room-2 {
    border: none;
}

.submit-button-help-1:focus,
.submit-button-help-2:focus,
.submit-button-room-1:focus,
.submit-button-room-2:focus {
    border: 2px solid black;
}

.call-help-block a {
    text-decoration: underline;
    color: #000000;
}

.wrap-input-field-room-1 div div div div div div input {
    width: 100%;
    height: 2rem;
    border-radius: 0;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    font-family: "TT Firs Neue";
}

.wrap-input-field-room-1 div div div div div div input::placeholder {
    color: black;
    padding-left: 10px;
    font-family: "TT Firs Neue";
    font-size: 10px;
}

.wrap-input-field-room-1 div div div div div div input:focus {
    padding-left: 10px;
    font-size: 10px;
}

.wrap-input-field-room-1 div div div label {
    display: none;
}

.wrap-input-field-room-1 div div div label {
    display: none;
}

.title-banner-form div form .qform-row div div .qform-field__submit_agree-box {
    color: black;
    font-family: "TT Firs Neue";
    font-size: 10px;
    line-height: 100%;
    padding: -15px 0 0 -15px;
    margin-bottom: 5px;
    margin-top: 0;
}

.submit-button-room-1 {
    width: 14.5rem;
    height: 2rem;
    background: #16ff00;
    border-radius: 5px;
    font-family: "TT Firs Neue";
    font-size: 10px;
    line-height: 125%;
    text-transform: uppercase;
    color: #000000;
    font-style: normal;
    font-weight: 600;
}

.title-banner-form div form {
    margin: 80px 35px;
}

.qform-field__block_box__field-box_input {
    font-size: 10px;
    padding-left: 10px;
}

.qform-field__submit_agree-box label:before {
    height: 1rem;
    width: 1rem;
}

.qform-field__submit_agree-box label:after {
    height: 1rem;
    width: 1rem;
}

.qform-field__submit_agree-box input[type=checkbox]:checked+label:after {
    opacity: 1;
    margin-left: -8px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .banner-gradient {
        width: 50rem;
        height: 20rem;
        margin: 281px 0px 0 -222px;
    }

    .banner-gradient-header {
        font-size: 30px;
    }

    .banner-gradient-content {
        width: 570px;
        font-size: 16px;
        padding-top: 0;
    }

    .submit-button-room-1 {
        width: 10rem;
    }

    .title-banner-form {
        width: 235px;
    }

    .btn-success-banner {
        margin-bottom: 20px;
        width: 210px;
    }

    .banner-left-item {
        margin: 0;
    }

    .banner-right-item-content {
        margin: 61px 0 63px 0;
        font-size: 14px;
    }

    .submit-button-room-2 {
        width: 7.5rem;
    }

    .search-room-content {
        margin: 98px 0 0 7px;
        font-size: 30.2381px;
    }

    .actual-offers-item img {
        width: 86%;
    }

    .actual-offers {
        min-height: 80rem;
    }

    .rent-your-room-title {
        font-size: 35px;
        margin: 60px 0 29px 37px;
    }

    .article-content {
        font-size: 13px;
    }

    .article-content-bottom {
        font-size: 10px;
    }

    .title-black {
        font-size: 30px;
    }

    .info-upper-font {
        font-size: 43px;
    }

    .info-lower-font {
        font-size: 13px;
    }

    .about-company-title {
        font-size: 26px;
        padding-top: 30px;
    }

    .advantages-item div img {
        display: none;
    }

    .advantages-item-title {
        font-size: 21px;
    }

    .advantages-item-content {
        font-size: 14px;
    }

    .advantages-item-tag {
        font-size: 16px;
    }

    .navigation div {
        font-size: 12px;
    }

    .banner-left-item p {
        font-size: 25px;
    }

    .banner-right-item-title {
        font-size: 25px
    }

    .banner {
        padding-top: 200px;
    }

    .banner-left-item img {
        margin: 20px 0;
    }

    .banner-left-item {
        margin: 0;
    }

    .banner-right-item-content {
        font-size: 14px;
        margin: 30px 0px 30px 0px;
    }

    .btn-success-banner {
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: 1201px) and (max-width: 1399px) {
    .submit-button-room-2 {
        width: 11.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .banner-gradient {
        width: 40rem;
        height: 14rem;
    }

    .banner-gradient-header {
        font-size: 24px;
    }

    .banner-gradient-content {
        font-size: 13px;
    }

    .title-banner-form {
        height: 229px;
    }

    .title-banner-form div form {
        margin: 40px 35px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .question-block {
        padding: 0;
    } 

    .title-banner-form {
        display: none;
    }

    .banner-gradient {
        margin: 0;
        width: 100%;
    }

    .banner-gradient-header {
        padding: 20px;
        padding-top: 70px;
        font-size: 2.5rem;
        width: 100%;
    }

    .banner-gradient-content {
        font-size: 1.3rem;
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .title-banner {
        min-height: 550px;
    }

    .navigation {
        justify-content: center;
    }

    .navigation div {
        font-size: 10px;
    }

    .search-room-content {
        margin: 170px 0 0 0;
        font-size: 15px;
    }

    .search-form-block {
        margin-top: 100px;
    }

    .rent-out-room {
        margin-top: 65px;
    }

    .rent-your-room-title {
        font-size: 30px;
    }

    .submit-button-help-1 {
        margin-bottom: 20px;
    }

    .title-black {
        font-size: 20px;
    }

    .info-align-end img {
        width: 10%;
    }

    .info-upper-font {
        font-size: 20px;
    }

    .info-lower-font {
        font-size: 10px;
    }

    .about-company-title {
        margin: 30px 0 11px 35px;
        font-size: 20px;
    }

    .article-content {
        font-size: 15px;
    }

    .advantages-title {
        font-size: 20px;
    }

    .advantages-item div img {
        display: none;
    }

    .advantages-item-title {
        font-size: 17px;
    }

    .advantages-item-content {
        font-size: 14px;
    }

    .advantages-item-tag {
        font-size: 15px;
    }

    .banner .container {
        display: block;
    }

    .banner {
        padding-top: 30px;
    }

    .banner-left-item img {
        margin: 20px 0;
    }

    .banner-left-item {
        margin: 0;
    }

    .banner-right-item-content {
        font-size: 14px;
        margin: 30px 0px 30px 0px;
    }

    .btn-success-banner {
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 575px) {
    /* .search-room div {
        display: block;
    } */
    .advantages-item .col-2 {
        flex: 0;
    }

    .question-block {
        padding: 0;
    } 

    .navigation, .banner div, .social {
        display: block;
        margin: 0 auto;
    }

    .title-banner-form {
        display: none;
    }

    .banner-content {
        justify-content: center;
    }

    .navigation .nav-item {
        text-align: center;
    }

    .banner-gradient {
        width: 100%;
        margin-bottom: 20px;
    }

    .banner-gradient-header {
        width: 100%;
        font-size: 2rem;
        padding-left: 100px;
    }

    .banner-gradient-content {
        display: none;
    }

    .about-site {
        position: static;
    }

    .banner {
        padding-top: 30px;
    }

    .title-black {
        font-size: 16px;
        text-align: center;
    }

    .banner-left-item img {
        margin-top: 20px;
        text-align: center;
    }

    .banner-right-item {
        padding-top: 40px;
        text-align: center;
    }

    .banner-right-item-content {
        margin: 50px 0;
    }

    .search-room-content {
        font-size: 1.5rem;
        padding: 15px;
        margin-top: 60px;
    }

    .search-form-block {
        margin: 0;
    }

    /* .search-form-block {
        display: none;
    } */

    .search-room .container {
        display: block;
    }

    .banner-right-item form {
        padding-bottom: 30px;
    }

    .call-help-block {
        margin-bottom: 0;
    }

    .rent-your-room-title {
        margin: 10px 0;
        font-size: 30px;
        text-align: center;
    }

    .about-company {
        padding: 20px;
    }

    .info-align-end img {
        display: none;
    }

    .info-upper-font {
        font-size: 15px;
    }

    .info-lower-font {
        font-size: 15px;
        margin: 0 0 0 15px;
    }

    .about-company-title {
        font-size: 20px;
        margin: 20px 0 0px 0px;
        text-align: center;
    }

    .advantages-title {
        margin: 30px 0;
        font-size: 24px;
    }

    .advantages-item div img {
        display: none;
    }

    .advantages-item-title {
        font-size: 20px;
        padding-top: 0;
    }

    .advantages-item-content {
        font-size: 12px;
    }

    .advantages-item-tag {
        font-size: 16px;
    }

    .advantages-item {
        margin-bottom: 20px;
    }

    .btn-adv {
        width: 150px;
        margin-left: 0;
    }

    .advantages-button-group {
        margin: 0;
        justify-content: space-between;
    }

    .personal-help-form {
        margin: 0 auto;
    }

    .submit-button-help-2 {
        width: 14rem;
    }

    .question-left-section, .question-right-section {
        margin-top: 30px;
    }

    .actual-offers-item img {
        width: 80%;
    }

    .actual-offers-item {
        text-align: center;
    }

    .btn-success-banner {
        width: 230px;
        margin: 0;
    }

    .actual-offers-button {
        width: 235px;
    }

    .article-content {
        padding: 22px 0 0 0;
    }

    @media (min-width: 1200px) and (max-width: 1450px) {
        .info-upper-font {
            font-size: 55px;
        }
    }

    @media (max-width: 360px) {
        .advantages-button-group {
            display: block;
            text-align: center;
        }

        .btn-adv {
            width: 200px;
        }
    }

  