header {
    min-height: 70px;
}

.title-banner {
    min-height: 827px;
    background-image: url(../img/title-banner-img.png);
    width: 100%;
    background-position: center;
}

.banner {
    min-height: 779px;
}

.search-room {
    min-height: 345px;
    background-image: url(../img/search-room-bg-img.png);
    width: 100%;
    background-position: center;
}

.actual-offers {
    min-height: 1621px;
}

.rent-out-room {
    min-height: 569px;
    background-image: url(../img/rent-out-room-bg-img.png);
    width: 100%;
    background-position: center;
}

.about-company {
    min-height: 839px;
}

.advantages {
    min-height: 1120px;
    background-image: url(../img/advantages-bg-img.png);
    width: 100%;
    background-position: center;
}

.question-banner {
    min-height: 684px;
    width: 100%;
    background-image: url(../img/questions-img.png);
    margin-top: 160px;
    background-position: center;
}

.questions {
    min-height: 684px;
}

footer {
    min-height: 460px;
    background-color: #293561;
}

.navigation {
    display: flex;
    justify-content: end;
    margin-right: 34px;
    padding-top: 27px;
}

.nav-item {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    padding: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: #010D01;
    cursor: pointer;
}

.banner-gradient {
    position: absolute;
    width: 1055px;
    height: 322px;
    background: linear-gradient(
        95.32deg,
        rgba(255, 255, 255, 0.04) 5.89%,
        rgba(255, 255, 255, 0.888998) 52.33%,
        rgba(255, 255, 255, 0.633434) 76.94%,
        rgba(255, 255, 255, 0) 103.34%
    );
    margin: 281px 0px 0 -153px;
}

.banner-gradient-header {
    /* position: absolute; */
    width: 943px;
    height: 154.12px;
    /* left: 198px; */
    /* top: 402px; */
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 600;
    font-size: 55.2542px;
    line-height: 110%;
    text-transform: uppercase;
    color: #010d01;
    opacity: 0.93;
    padding-top: 52px;
    padding-left: 200px;
}

.banner-gradient-content {
    /* position: absolute; */
    width: 943px;
    height: 52px;
    /* left: 198px; */
    /* top: 571px; */
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    color: #010d01;
    opacity: 0.93;
    padding-top: 50px;
    padding-left: 200px;
}

.about-site {
    text-align: center;
    position: relative;
    z-index: 2;
    top: 688px;
    right: 9px;
}

.wrap {
    display: flex;
    justify-content: space-between;
}
